
#info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  h1 {
    position: absolute;
  }

  h1 {
    font-size: 39px;
    letter-spacing: 2px;
    top: 150px;
    left: 150px;
  }
  .content {
    padding: 150px 0;

    .dick {
      padding-bottom: 50px;
    }

    p {

    }
  }

  .keyword1 {
    position: absolute;
    left: 13%;
    top: 8%;
  }

  .impressum {
    padding-top: 200px;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
  }

  .contact {
    position: absolute;
    left: 6%;
    top: 400px;
    text-align: center;
  }

  .danke {
    position: absolute;
    right: 6%;
    top: 800px;
    text-align: center;
  }
}

@media only screen and (max-width: 1400px) {
  #info {
    .contact {
      position: relative;
      left: 0;
      top: 0;
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      display: block;
      margin-top: 100px;
    }

    .danke {
      position: relative;
      right: 0;
      top: 0;
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      display: block;
      margin-top: 100px;
    }
  }
}