#menuWrap {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 6;

  h1, p, a, {
    color: white;
  }

  h1 {
    text-align: center;

    z-index: 101;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;

  }

  .menuBtn {
    text-decoration: none;
  }

  #menu {
    position: relative;
    z-index: 101;
    padding: 0;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;

    li {
      display: inline;
      margin: 0 26px;

      a {
        text-transform: uppercase;
        padding: 8px 10px;
      }

      a:hover{
        border-bottom: 2px solid white;
      }
    }
  }
}



#menuLink {
  position: fixed;
  top: 30px;
  text-align: center;
  display: none;
  left: 50%;
  margin-left: -80px;
  z-index: 1001;
  text-decoration: none;
  letter-spacing: 2px;
}
