.project-7 {
  .keyword1 {
    right: 6%;
    top: 37%;
  }

  .keyword2 {
    bottom: 4%;
    right: 30%;
  }

  .sub {
    top: 10%;
    left: 14%;
  }

  .format {
    left: 10%;
    bottom: 10%;
  }
}