.project-7 {
  .keyword1 {
    right: 6%;
    top: 37%;
  }

  .keyword2 {
    bottom: 4%;
    right: 30%;
  }

  .sub {
    bottom: 6%;
    left: 14%;
  }

  .format {
    right: 8%;
    top: 13%;
  }
}