.project-3 {
  .keyword1 {
    top: 8%;
    right: 19%;
  }

  .keyword2 {
    bottom: 15%;
    right: 12%;
  }

  .sub {
    bottom: 7%;
    left: 50%;
  }

  .format {
    left: 11%;
    top: 19%;
  }

}