.project-4 {
  .keyword1 {
    top: 4%;
    left: 15%;
  }

  .keyword2 {
    top: 10%;
    right: 15%;
  }

  .sub {
    bottom: 6%;
    left: 35%;
  }

  .format {
    right: 10%;
    top: 40%;
  }

}