.project-2 {
  .keyword1 {
    bottom: 10%;
    left: 19%;
  }

  .keyword2 {
    top: 40%;
    right: 14%;
  }

  .sub {
    top: 8%;
    left: 8%;
  }

  .format {
    right: 12%;
    bottom:5%;
  }

}