.project-3 {
  .keyword1 {
    top: 8%;
    right: 19%;
  }

  .keyword2 {
    bottom: 15%;
    right: 12%;
  }

  .sub {
    bottom: 4%;
    left: 55%;
  }

  .format {
    left: 12%;
    top: 12%;
  }

}