.project-2 {
  .keyword1 {
    bottom: 10%;
    left: 19%;
  }

  .keyword2 {
    top: 40%;
    right: 14%;
  }

  .sub {
    bottom: 7%;
    right: 3%;
  }

  .format {
    bottom: 4%;
    left: 10%;
  }

}