.project-1 {
  .keyword1 {
    top: 15%;
    left: 15%;
  }

  .keyword2 {
    bottom: 10%;
    right: 19%;
  }

  .sub {
    bottom: 5%;
    left: 5%;
  }

  .format {
    right: 15%;
    top:12%;
  }


}