.project-6 {
  .keyword1 {
    bottom: 8%;
    left: 37%;
  }

  .keyword2 {
    top: 7%;
    right: 7%;
  }

  .sub {
    top: 30%;
    left: 6%;
  }

  .format {
    right: 9%;
    bottom: 30%;
  }
}