.project-4 {
  .keyword1 {
    top: 4%;
    left: 15%;
  }

  .keyword2 {
    top: 10%;
    right: 15%;
  }

  .sub {
    top: 8%;
    right: 3%;
  }

  .format {
    right: 5%;
    bottom: 5%;
  }

}