@mixin backfaceHidden {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

@mixin force-gpu-rendering() {
	@include backfaceHidden();
	-webkit-perspective: 800;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
